.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background-color: coral;
  padding: 10px;
  box-sizing: border-box;
}
.container header {
  width: 100%;
}
